# General.
title: "{title}"
year: {year}
email: "{email}"
domain: "{domain}"
repo: "{repo}"

# Jekyll settings.
repository: <USERNAME>/<PROJECT>
defaults:
- scope:
    path: ""
  values:
    layout: "page"
kramdown:
  toc_levels: "2"
exclude:
- "*/bin"
- "Makefile"
- "README.md"
- "bin"
- "etc"
{excludes}
