/* General */

body {
    font-family: "Helvetica Neue", Helvetica;
    padding: 1em;
    width: 60em;
}

/* Navigation header */

nav {
    position: fixed;
    top: 0;
    width: 60em;
    background-color: #f8f8f8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

nav div.left {
    float: left;
    width: 50%;
    text-align: left;
}

nav div.right {
    float: right;
    width: 50%;
    text-align: right;
}

span.navtitle {
    border: 1px solid #c0c0c0;
    padding-left: 5px;
    padding-right: 5px;
}

/* Dropdown menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    padding: 8px;
    z-index: 1;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

/* Main content */

main {
    margin-top: 1em;
}

/* Table of contents  */

div.toc {
    padding-left: 5px;
}

div.toc h3 {
    padding-top: 5px;
    margin-bottom: 0px;
}

div.toc ul {
    margin-top: 0.25em;
    padding-bottom: 10px;
}

/* Footer */

footer {
    text-align: center;
}

img.footer {
    vertical-align: middle;
    height: 2em;
    padding: 0.25em;
}

/* Definition lists */

dl {
    padding-left: 1em;
}

dt {
    clear: left;
    float: left;
    margin-left: -1em;
    margin-right: 0.25em;
    font-weight: bold;
}

dt::before {
    content: "";
    display: block;
    height: 0.25em;
}

dd::before {
    content: "";
    display: block;
    height: 0.25em;
}

dd {
    margin-left: 0em;
}

dd p {
    display: inline;
    margin: 0;
    padding: 0;
}

/* Content */

h1 {
    text-align: center;
    margin-bottom: 0;
}

h2.lede {
    font-style: italic;
    text-align: center;
    margin-top: 0;
}

code {
    font-family: Monaco,Courier New;
    font-size: 80%;
}

ol, ul {
    padding-left: 1.2em;
}

ul {
    list-style-type: disc;
}

/* Tables */

th {
    text-align: left;
    vertical-align: top;
}

td {
    vertical-align: top;
    margin: 0.25em;
    padding: 0.25em;
}

tr:nth-child(odd) {
    background-color: #f8f8f8;
}
